.title-row{
  font-size: 14px;
}
.content {

  font-size: 1rem;

  .masthead {

    border-bottom: 1px solid lighten($black-colour, 50%);
    margin-bottom: 2rem;
    background: linear-gradient(45deg, #014371, rgba(1,67,113,0.7), #014371, #014371)
  }

  .masthead-inner {
    padding-top:0;
  }

  .local-title {
   
    a {
      color: $white-colour;
      text-shadow: 1px 1px 0 $black-colour;
      font-family: $primary-font-family;
      font-size: 2.5rem;
    }
  }

  .main-content-area {
    max-width: 90vw;
    margin: 0 auto;
  }

  .card {
    box-shadow: 0 0.125rem 0.25rem 0.125rem rgba(22,29,57,0.2);
    background-color: #fbfeff;
    border-radius: 0.2rem;
    margin: 0rem;
    width: 100%;
    height: 100%;

    .scrollable {
      height: 200px; /* or any value */
      overflow-y: auto;
      line-height: 1em;
    }

.scrollable::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scrollable::-webkit-scrollbar:vertical {
    width: 11px;
}

.scrollable::-webkit-scrollbar:horizontal {
    height: 11px;
}

.scrollable::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}
  

    .text {
      height: 120px;
      overflow: hidden;
  }
  .container {
      position: relative;
  }
  label {
      position: absolute;
      top: 100%;
      font-weight: bold;
      color: blue;
      padding-bottom:1rem
  }
  input {
      display: none;
  }
  label:after {
      content: "Show More";
  }
  input:checked + label:after {
      content: "Show Less";
  }
  input:checked ~ div {
      height: 100%;
  }
  }
  
  .card__content-upper {
    height:240px;
  }
  .top-row {
    .card__content {
      margin-top: 0rem;
      padding-bottom: 0rem;
    }
}
  
  .card__actions {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 0;
    background-color: #d2dce3;
  }

  .card-header {
    padding-left: 1rem;
    padding-top:0.1rem;
    font-family:Lato, sans-serif;
    font-size:16px;
    color:rgb(1, 67, 113);
    p {
      margin-bottom:1rem;
    }
  }
  .uniprot-card{
    padding-left:1rem;
    padding-right:1rem;
  }

  .card-table{
    padding-left:2px;
    font-size: 13px;
    height: 100%;
  }

  .card-header{
    padding-top:0.4rem;
  }

 .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-info-sign:before {
  content: "\e086";
}
  
}
div#local-title{
  margin-bottom:0.5rem;
}

.float-bottom {
  padding-top:1rem;
}