
// Master Header
// -------------
.masthead {
  background-color: $primary-colour;
}



// EBI Standard Search Field
// -------------------------
#ebi-standard-search-field {
  display: none;
}



// Text Headings
// -------------
body h1,
body h2,
body h3 {
  font-weight: 700;
}



// Keep EBI font for Header
// ------------------------
.masthead-black-bar {
  font-family: IBM Plex Sans,Helvetica,Arial,sans-serif;
  background-color:#54585a;
}

.masthead-black-bar li.embl-selector {
  margin-left: .5rem;
  border-left: .5px solid rgba(255,255,255,.5);
  padding-left: 1.5rem;
}

// Logo Styling
// ------------
#local-title {
  font-size: 2.7rem;
}
