@import "base/_all";
@import "layout/_all";
@import "search/_all";
@import "elements/_all";
@import "other/_all";

.banner {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  background: #f8edf0;
  font-size: 15px;
  position: relative;

  a {
    color: #6987c3;
  }

  .banner-content {
    padding: 0 1rem;
    text-align: left;
  }

  .dismiss-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #999;
  }
}

.download,
.download-ready,
.download-nr,
.download-na {
  width: 15px;
  height: 15px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  display: inline-block;
}
.download-ready {
  background: linear-gradient(white, green);
}
.download-nr {
  background: linear-gradient(white, orange);
}
.download-na {
  background: linear-gradient(white, red);
}

.download-btn:hover:disabled {
  cursor: default;
}
.download-btn:hover {
  cursor: pointer;
}
.trash-btn:hover {
  cursor: pointer;
}

.red {
  color: red;
}
.green {
  color: green;
}

.result-op-btn {
  float: right;
  font-size: 10px;
  font-weight: bolder;
  color: black;
  padding: 4px;
  border-radius: 20%;
  border-bottom-color: lightgrey;
}
.result-op-btn:hover {
  font-weight: bolder;
  background-color: #e7e7e7;
  cursor: pointer;
}

.ann-share-btn {
  font-size: 16px;
  font-weight: bolder;
  color: black;
  margin-left: 10px;
  padding: 4px;
  border-radius: 20%;
  border-bottom-color: lightgrey;
}
.ann-share-btn:hover {
  font-weight: bolder;
  background-color: #e7e7e7;
  cursor: pointer;
}

.record-count {
  float: right;
  min-width: 24px;
  text-align: center;
  display: inline-block;
  //padding: 0.1rem 0.2rem;
  //margin-right: 1rem;
  //margin-bottom: 0.3rem;
  border: none;
  border-radius: 0.75rem;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: lightskyblue;

  &.gray-bg {
    background-color: lightgrey;
  }
}

.page-help {

    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;

  h5 {
    color: #333;
  }
  p {
    margin: 10px 0;
  }
  ul {
    margin: 10px 0 20px 20px;
  }
  code {
    background-color: ivory;
    padding: 2px 4px;
    border-radius: 4px;
  }

}

.edit-name {
  width: 100%;
  padding: 2px;
  height: 30px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}