@import "base/_all";
@import "layout/_all";
@import "search/_all";
@import "elements/_all";
@import "other/_all";

.banner {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  background: #f8edf0;
  font-size: 15px;
  position: relative;

  a {
    color: #6987c3;
  }

  .banner-content {
    padding: 0 1rem;
  }

  .dismiss-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #999;
  }
}

.download,
.download-ready,
.download-nr,
.download-na {
  width: 15px;
  height: 15px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  display: inline-block;
}
.download-ready {
  background: linear-gradient(white, green);
}
.download-nr {
  background: linear-gradient(white, orange);
}
.download-na {
  background: linear-gradient(white, red);
}

.download-btn:hover:disabled {
  cursor: default;
}
.download-btn:hover {
  cursor: pointer;
}
.trash-btn:hover {
  cursor: pointer;
}
