@import "base/_all";
@import "layout/_all";
@import "search/_all";
@import "elements/_all";
@import "other/_all";

.banner {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  background: aliceblue;
  font-size: 15px;
  position: relative;

  a {
    color: #6987c3;
  }

  .banner-content {
    padding: 0 1rem;
    text-align: left;
  }

  .dismiss-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #999;
  }
}

.download,
.download-ready,
.download-nr,
.download-na,
.download-unk {
  width: 15px;
  height: 15px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  display: inline-block;
}
.download-ready {
  background: linear-gradient(white, green);
}
.download-nr {
  background: linear-gradient(white, orange);
}
.download-na {
  background: linear-gradient(white, red);
}
.download-unk {
  background: linear-gradient(white, lightgrey);
}

.red {
  color: red;
}
.green {
  color: green;
}

.sortarrow {
  color: white;
}
.sortarrow:hover {
  cursor: pointer;
}

.icon-btn {
  color: black;
  padding: 4px;
  border-radius: 10%;
  border-bottom-color: lightgrey;
}

.icon-btn:disabled {
  color: lightgrey;
}

.icon-btn:hover:not([disabled]) {
  background-color: #e7e7e7;
  cursor: pointer;
}
.icon-btn:hover:disabled {
  cursor: default;
}

.record-count {
  float: right;
  min-width: 24px;
  text-align: center;
  display: inline-block;
  //padding: 0.1rem 0.2rem;
  //margin-right: 1rem;
  //margin-bottom: 0.3rem;
  border: none;
  border-radius: 0.75rem;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: lightskyblue;

  &.gray-bg {
    background-color: lightgrey;
  }
}

.edit-name {
  width: 100%;
  padding: 2px;
  height: 30px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
.help-icon {
  vertical-align: top;
  margin-left: 4px;
}
.help-icon:hover {
  cursor: pointer;
}