.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 34%;
}

.grid-container > div {
  text-align: left;
}

.stats {
  border: 1px solid #e3e3e3;
  border-radius: 8px;
}

.stats:hover {
  background: #f9f9f9;
}

.stats .content {
  padding: 8px 16px;
}
.stats .content .main{
  color:#0d0d0d;
  font-weight: bold;
}
.stats .content .sub{
  color: #9b9b9b;
}


.release-container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.release-tabs {
  display: flex;
  margin-bottom: 20px;
}

.release-tabs button {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
}

.release-tabs button.active {
  background-color: #4CAF50;
  color: white;
}

.release-content {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fafafa;
}