.item-list {
  list-style-type: none;
  padding: 0;
  max-height: 150px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: darkgrey lightgrey;
}

/* Works on Chrome, Edge, and Safari */
.item-list::-webkit-scrollbar {
  width: 12px;
}

.item-list::-webkit-scrollbar-track {
  background: lightgrey;
}

.item-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 20px;
  border: 3px solid lightgrey;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 4px 4px 12px;
  position: relative;
}

.item-options {
  display: none;
}

.item:hover .item-options {
  display: block;
}
.item:hover {
  background-color: lightgrey;
}

.item-name {
  flex-grow: 1;
}
.item-name:hover {
  cursor: pointer;
}

.item-options button {
  margin-left: 5px;
}