
// Button
// ------
.button {
  &:focus {
    outline: none;
  }

  margin-right: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;

  &--round {
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.3rem;
    font-size: 0.8rem;
    margin: 0 0.5rem 0 0;
  }

  &--tag {
    height: 1.5rem;
    padding: 0.3rem;
    font-size: 0.8rem;
    margin: 0 0.5rem 0 0;
    border-radius: 0.2rem;
    text-transform: none;
  }

  &--primary {
    color: $black-colour;
    background-color: $primary-colour;
  }

  &--secondary {
    color: $white-colour;
    background-color: $secondary-colour;
  }

  &--significances {
    font-size: 0.8rem;
    text-transform: none;
    margin: 0.2rem;
    padding: 0;
    width: calc(100% - 0.2rem);
    height: 1.8rem;
  }

  &--positional {
    color: $white-colour;
    background-color: #EB9F9F;
    &:focus {
      background-color: #EB9F9F;
    }
    &:hover {
      background-color: darken(#EB9F9F, 10%);
    }
  }
  
  &--clinical {
    color: $white-colour;
    background-color: #EB6841;
    &:focus {
      background-color: #EB6841;
    }
    &:hover {
      background-color: darken(#EB6841, 10%);
    }
  }
  
  &--transcript {
    color: $black-colour;
    background-color: #C7F464;
    color: #333;
    &:focus {
      background-color: #C7F464;
      color: #333;
    }
    &:hover {
      background-color: darken(#C7F464, 10%);
      color: #333;
    }
  }

  &--structural {
    color: $white-colour;
    background-color: #00DFFC;
    &:focus {
      background-color: #00DFFC;
    }
    &:hover {
      background-color: darken(#00DFFC, 10%);
    }
  }

  &--genomic {
    color: $white-colour;
    background-color: #794a4a;
    &:focus {
      background-color: #794a4a;
    }
    &:hover {
      background-color: darken(#794a4a, 10%);
    }
  }

  &--toggle-isoforms {
    margin: 0 0.5rem 0 0;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    border-radius: 0.75rem;
  }
}
