/* The Modal (background) */
.info-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}

/* Modal Content */
.info-modal-content {
  position: fixed;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
}

.element-center {
  position: fixed;
  background-color: #fefefe;
  inset: 0;
  min-width: 200px;
  max-width: 400px;
  height: fit-content;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
}

/* The Close Button */
.info-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.info-close:hover,
.info-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}