.advanced-search {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 6px;
    background: #f9f9f9;
    margin-bottom: 8px; /* new */
}

.section-header {
    background: none;
    border: none;
    font-size: 14px; /* 16px */
    font-weight: bold;
    cursor: pointer;
    text-align: left;
    width: 100%;
    padding: 5px;
    /* icon to right */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-panel {
    padding: 5px;
    margin-top: 10px;
    transition: max-height 0.3s ease-in-out;
}

.filter-row {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
}

.filter-group {
    display: flex;
    flex-direction: column;
    min-width: 180px;
}

.filter-group > label {
    font-weight: 600;
    font-size: 0.85rem;
    margin-bottom: 4px;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 0.5rem;
}

.filter-button {
    font-size: 0.75rem;
    padding: 5px 8px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    color: #333;
    transition: all 0.2s ease;
}

.filter-button:hover, .filter-button.selected {
    background-color: #1976d2;
    color: #fff;
}

.filter-button.selected:hover {
    background-color: #f0f0f0;
    color: #000;
}

.apply-button {
    font-size: 0.75rem;
    background: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}
.apply-button:hover {
    background-color: #098d28;
}

.tick {
    color: greenyellow;
}
.cross {
    color: lightcoral;
}