
// Impact Search Results
// ---------------------

.search-results {

  table {
    border: 1px solid #c7c0a9;

    tr.no-border td {
      border: 0;
    }

    th {
      background-color: #057D9F;
      color: $white-colour;
      // border: 0.5px solid lighten($black-colour, 20%);
      text-transform: uppercase;
      font-size: 1rem;
    }

    td {
      padding: 0.3rem;
      border-bottom: 1px solid #dcd5c0;
    }

    td.query-row {
      padding: 0.7rem;
      background-color: #ebf6fb;
    }

    td.row-counter {
      text-align: center;
    }

    .badge {
      background-color: #FFF;
      border: 1px solid #333;
      font-size: 0.8rem;
      color: #333;
      font-weight: 700;
      margin-right: 0.3rem;
      padding: 0.2rem;
    }

    .novel-variant {
      color: #FF0000;
      font-size: 1.7rem;
      margin-right: 0.5rem;
    }

    .non-coding-variant {
      font-size: 1.6rem;
      color: #999;
    }
  }

  .significances-groups {
    width: 100%;
    display: flex;

    .column {
      min-height: 150px;
    }

    .structural-icon {
      font-size: 2rem;
    }
  }

  .significance-data-block {
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;

    &:last-child {
      border: 0;
    }
  }

  .positional-feature-type {
    font-weight: 700;
  }

  .positional-feature-position {
    width: 100%;

    span {
      width: 50%;
      display: inline-block;
    }
  }

  .positional-feature-id {
    font-weight: 700;
  }

  .publications-label {
    display: block;
    background-color: #ffb100;
    padding: .1rem .5rem;
    width: fit-content;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: .5rem;
  }

  .legends {
    float: right;
    margin-right: 4rem;
    margin-bottom: 2rem;

    &-item {
      margin: .5rem 0;
    }

    &-icon {
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      font-weight: 900;
      display: inline-block;
      border-radius: 50%;
      font-size: 1rem;
      margin-right: .7rem;
    }
  }

  .results-counter {
    font-weight: 700;
    width: 100%;
    display: block;
    margin-bottom: 4rem;
    font-size: 2.5rem;
  }

  .results-and-counter {
    float:left;
  }

  .associated-disease-list {

    a {
      margin-right: 10px;
    }

    .associated-disease {
      margin-bottom: 1rem;
    }
  }

  .details-page-link {
    float: right;
    margin: 1rem;
  }

  .expanded-section-title {
    float: left;
    font-size: 1.5rem;
    margin: 1rem;
  }

  .expanded-section-subtitle {
    float: left;
    margin: 1.2rem;
  }

  .column-list {
    column-count: 6;
    width: 100%;
    float: left;
    padding-left: 1rem;
  }
  
}