
// Impact Search Results
// ---------------------
.search-results {

  table {
    // border: 1px solid $search-results-table-border-colour;
    // width: min-content;

    tr:nth-child(odd) {
      background-color: $search-results-table-zebra-background-colour;
    }

    th {
      background-color: $search-results-table-header-background-colour;
      color: $white-colour;
      text-transform: uppercase;
      font-size: 0.8rem;
      // padding: 0;
      /* width: fit-content; */
      /* display: table-cell; */
      width: 1%;
      /* white-space: nowrap; */
      padding: 0.2rem;
      border-width: 1px 0 0 1px;
      border-color: $search-results-table-header-border-colour;
      border-style: solid;
    }

    td {
      border-bottom: 1px solid $search-results-divider-border-colour;
      font-size: 0.9rem;
      padding: 0;
      /* width: fit-content; */
      /* display: table-cell; */
      width: 0.1%;
      white-space: nowrap;
      padding: 0.3rem 0.5rem;

      &.fit {
        padding: 0;
        margin: 0;
      }
    }

    .badge {
      background-color: $white-colour;
      border: 1px solid $search-results-badge-border-colour;
      font-size: 0.8rem;
      color: $search-results-badge-colour;
      font-weight: 700;
      margin-right: 0.3rem;
      padding: 0.2rem;
    }

    .novel-variant {
      color: $novel-variant-colour;
      font-size: 1.7rem;
      margin-right: 0.5rem;
    }

    .non-coding-variant {
      font-size: 1.6rem;
      color: $non-coding-variant-colour;
    }
  }

  .no-border td {
    border: 0;
  }

  .query-row {
    padding: 0.7rem;
    background-color: $search-results-query-row-background-colour;
  }

  .no-significances {
    width: 100%;
    text-align: center;
    display: inline-block;
  }

  .row-counter {
    text-align: center;
    // scss-lint:disable ImportantRule
    border-bottom: 1px solid $search-results-divider-border-colour !important;
    // scss-lint:enable ImportantRule
    vertical-align: top;
  }

  .cadd-score {
    padding: 0.3rem 0.4rem;
    border-radius: 0.75rem;
    font-size: 0.8rem;
    font-weight: 700;

    &--green {
      background-color: $cadd-score-green-background-colour;
    }

    &--red {
      color: $white-colour;
      background-color: $cadd-score-red-background-colour;
    }
  }

  .significances-groups {
    width: 100%;
    display: flex;

    .significances-column {
      width: 100%;
      min-height: 150px;
    }

    .significances-stacked-columns {
      flex-direction: column;

      .significances-column {
        min-height: auto;
      }
    }

    .structural-icon {
      font-size: 2rem;
    }
  }

  .significance-data-block {
    border-bottom: 1px solid $significance-data-block-border-colour;
    padding: 1rem 0;

    &:last-child {
      border: 0;
    }
  }

  .positional-feature-type {
    font-weight: 700;
  }

  .positional-feature-position {
    width: 100%;

    span {
      width: 50%;
      display: inline-block;
    }
  }

  .positional-feature-id {
    font-weight: 700;
  }

  .publications-label {
    display: block;
    background-color: $publications-label-background-colour;
    padding: .1rem .5rem;
    width: fit-content;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: .5rem;
  }

  .legends {
    float: right;
    margin-right: 4rem;
    margin-bottom: 2rem;

    &-item {
      margin: .5rem 0;
    }

    &-icon {
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      font-weight: 900;
      display: inline-block;
      border-radius: 50%;
      font-size: 1rem;
      margin-right: .7rem;
    }
  }

  .results-and-counter {
    float: left;
  }

  .associated-disease-list {

    a {
      margin-right: 10px;
    }

    .associated-disease {
      margin-bottom: 1rem;
    }
  }

  .details-page-link {
    float: right;
    margin: 1rem;
  }

  .expanded-section-title {
    float: left;
    font-size: 1.5rem;
    margin: 1rem;
  }

  .expanded-section-subtitle {
    float: left;
    margin: 1.2rem;
  }

  .column-list {
    column-count: 6;
    width: 100%;
    float: left;
    padding-left: 1rem;
  }
}

.structure-position-help-text {
  white-space: normal;
  font-weight: 700;
}
