// Impact Search Results
// ---------------------
.search-results {
	.tableFixHead {
		overflow-y: auto;
		height: 200px;
	}
	.tableFixHead thead th {
		position: sticky;
		top: 0;
	}

	.tableFixHead table tr td {
		word-wrap: normal;
		white-space: nowrap;
	}

	.search-results-legends {
		ul {
			list-style: none;
			display: inline-block;
		}

		.legend-icon {
			font-weight: 700;
			width: 1.7rem;
			height: 1.7rem;
			text-align: center;
			line-height: 1.7rem;
			display: inline-block;
			margin-right: 0.8rem;
		}

		.button-icon {
			font-size: 40px;
			transform: scale(.5, 1);
			color: #00709b;
			fill: #00709b;
		}

		.button--legends--high {
			color: #212121;
			background-color: rgb(0, 83, 214);
			color: #333;
		}

		.button--legends--confident {
			color: #212121;
			background-color: rgb(101, 203, 243);
			color: #333;
		}

		.button--legends--low {
			color: #212121;
			background-color: rgb(255, 219, 19);
			color: #333;
		}

		.button--legends--verylow {
			color: #212121;
			background-color: rgb(255, 125, 69);
			color: #333;
		}

		.button--legends {
			font-size: 0.8rem;
			text-transform: none;

			margin-right: 0.5em;
			padding: 10px;
			border-style: none;
			height: 100%;
		}

		.cadd-score {
			width: 2rem;
			text-align: center;
			display: inline-block;
			margin-right: 1rem;
			margin-bottom: 0.3rem;
		}
	}

	.img-table {
		border-style: none;
		tbody {
			background-color: transparent;
		}
		tr {
			background-color: transparent;
		}
	}

	.img-size {
		max-width: 40%;
	}
	.clickable-row {
		color: #00709b;
		font-weight: 600;
		cursor: pointer;
	}

	.active {
		background-color: rgba(255, 235, 59, 0.3) !important;
	}

	.small {
		font-size: 0.8rem;
	}
	.table-header {
		border: none;
		width: 35%;
		border-spacing: 0;
		border-collapse: collapse;
		padding: 0;
		tbody {
			border: none;
		}
		tr {
			border: none;
			padding: 0;
			margin: 0;
		}

		td {
			background-color: transparent;
			border: none;
			padding: 0;
			margin: 0;
		}
		.button {
			// padding: 0.8em;
			margin: 0;
			width: auto;
			background: #cfe8ef;
			color: #00709b;
		}

		.rdn-control {
			padding: 5px 5px 5px 5px;
		}
	}

	.button {
		margin-right: 1rem;
		background: #cfe8ef;
		color: #00709b;
		border-style: solid;
		border-width: thin;
		border-color: #00709b;
	}
	.window__header {
		background-color: #5caecd;
		color: #fff;
	}
	.modal {
		background: rgba(0, 0, 0, 0.6);
	}

	.modal-container {
		position: fixed;
		width: 30%;
		// background: #deeff5;
		background-color: #fbfeff;
		// left: 20%;
		// top: 22%;
		// padding: 20px;
		border-style: solid;
		border-color: #5caecd;
		border-width: thin;
		// border-radius: 1px;
	}

	.window__footer {
		background-color: #deeff5;
	}

	.downloadicon {
		height: 14px;
		margin-right: 2px;
	}

	.button-icon {
		height: 45%;
		width: 45%;
	}

	.window__footer .button {
		background-color: transparent;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		padding-right: 1em;
		padding-left: 1em;
		border-width: thin;
		border-color: #00709b;
		cursor: pointer;
		color: #00709b;
		border-style: solid;
		margin-right: 0.5em;
	}
	.d-block {
		display: block;
	}

	.d-none {
		display: none;
	}
	.new-select {
		// display: inline-block;
		list-style-type: none;
	}

	.download-label {
		padding: 1em;
	}
	table-header {
		width: 20%;
		tr {
		}
		th {
			background-color: transparent;
		}

		.button {
			padding: 7px 6px;
		}
	}
	table {
		// border: 1px solid $search-results-table-border-colour;
		// width: min-content;
		a {
			text-decoration: none;
			display: inline;
			// padding: 8px 16px;
			color: #00709b;
		}

		.loader-border {
			background-color: white !important;
		}
		a:hover {
			background-color: #ddd;
			color: #00709b;
		}

		.previous {
			background-color: #1779ba;
			color: black;
		}

		.button {
			padding: 0em;
			margin-bottom: 0.5rem;
			margin-top: 0.5rem;
		}

		.button-disabled {
			pointer-events: none;
			background-color: #cccccc;
		}

		.button--toggle-isoforms {
			margin-right: 1em;
		}
		.next {
			background-color: #1779ba;
			color: white;
		}

		// .pagination {
		// 	background-color: #fefefe;
		// 	color: #fefefe !important;
		// 	border-style: none;
		// }
		// .pagination a,
		// .pagination button {
		// 	color: #fefefe !important;
		// 	padding: 0.6rem;
		// }
		tr {
			border-top: 1px dotted #ccc;
			border-bottom: 1px dotted #ccc;
		}
		tr:nth-child(even) {
			background-color: $search-results-table-zebra-background-colour;
		}

		th {
			background-color: $search-results-table-header-background-colour;
			color: $white-colour;
			// text-transform: uppercase;
			font-size: 0.8rem;
			// padding: 0;
			/* width: fit-content; */
			/* display: table-cell; */
			width: 1%;
			/* white-space: nowrap; */
			padding: 0.2rem;
			border-width: 1px 0 0 1px;
			border-color: $search-results-table-header-border-colour;
			border-style: solid;
			text-align: center;
		}

		td {
			border-bottom: 1px solid $search-results-divider-border-colour;
			font-size: 0.9rem;
			padding: 0;
			/* width: fit-content; */
			/* display: table-cell; */
			width: 0.1%;
			white-space: nowrap;
			padding: 0.3rem 0.5rem;
			border-right: 1px dotted #ccc;
			border-left: 1px dotted #ccc;
			word-wrap: break-word;
		}

		.badge {
			background-color: $white-colour;
			border: 1px solid $search-results-badge-border-colour;
			font-size: 0.8rem;
			color: $search-results-badge-colour;
			font-weight: 700;
			margin-right: 0.3rem;
			padding: 0.2rem;
		}

		.novel-variant {
			color: $novel-variant-colour;
			font-size: 1.7rem;
			margin-right: 0.5rem;
		}

		.non-coding-variant {
			font-size: 1.6rem;
			color: $non-coding-variant-colour;
		}
	}

	.no-border td {
		border: 0;
	}

	.query-row {
		padding: 0.7rem;
		background-color: $search-results-query-row-background-colour;
	}

	.no-significances {
		width: 100%;
		text-align: center;
		display: inline-block;
	}

	.row-counter {
		text-align: center;
		// scss-lint:disable ImportantRule
		border-bottom: 1px solid $search-results-divider-border-colour !important;
		// scss-lint:enable ImportantRule
		vertical-align: top;
	}

	.cadd-score {
		padding: 0.3rem 0.4rem;
		border-radius: 0.75rem;
		font-size: 0.8rem;
		font-weight: 700;

		&--DarkGreen {
			background-color: DarkGreen;
		}

		&--DarkSeaGreen {
			color: $white-colour;
			background-color: DarkSeaGreen;
		}

		&--Gold {
			color: $white-colour;
			background-color:Gold;
		}

		&--DarkOrange {
			color: $white-colour;
			background-color: DarkOrange;
		}

		&--FireBrick {
			color: $white-colour;
			background-color: FireBrick;
		}
	}

	.expanded-row {
		background-color: #cfe8ef;
	}

	.significances-groups {
		width: 100%;
		display: flex;
		background-color: #cfe8ef;
		.significances-column {
			width: 100%;
			min-height: 150px;
		}

		.flatList {
			display: inline;
			list-style: none;
			margin-left: 0.25rem;

			li {
				display: inline;
			}

			li:after {
				content: " | ";
			}
			li:last-child:after {
				content: "";
				display: list-item;
			}
		}

		.icon-arrow {
			font-size: 40px;
			transform: scale(.5, 1);
			color: #00709b;
		}
		.flatList-no-separator {
			display: inline;
			list-style: none;
			margin-left: 0.25rem;

			li {
				display: inline;
			}
		}

		.protein-table-cell {
			vertical-align: top;

			// div {
			// 	border-style: solid;
			// 	border-width: thin;
			// 	border-color: #00709b;
			// }
		}
		.chevronicon {
			height: 8px;
			margin-left: 2px;
			float: right;
		}

		.collapsible {
			// background-color: #cfe8ef;
			color: #00709b;
			cursor: pointer;
			padding: 10px;
			width: 100%;
			text-align: left;

			margin-bottom: 2px;
			background-color: transparent;
			border-style: solid;
			border-width: thin;
			border-color: #00709b;
		}

		.active,
		.collapsible:hover {
			background-color: #ccc;
		}

		.content {
			padding: 0 18px;
			display: none;
			overflow: hidden;
			background-color: #f1f1f1;
		}

		ul {
			list-style-type: none;
			margin-bottom: 0;
		}

		table {
			border: none;
			table-layout: fixed;
		}

		td {
			word-wrap: break-word;
			white-space: break-spaces;
		}

		.significances-stacked-columns {
			flex-direction: column;

			.significances-column {
				min-height: auto;
			}
		}

		.structural-icon {
			font-size: 2rem;
		}
	}

	.significance-data-block {
		border-bottom: 1px solid $significance-data-block-border-colour;
		padding: 1rem 0;

		&:last-child {
			border: 0;
		}
	}

	.positional-feature-type {
		font-weight: 700;
	}

	.positional-feature-position {
		width: 100%;

		span {
			width: 50%;
			display: inline-block;
		}
	}

	.positional-feature-id {
		font-weight: 700;
	}

	.publications-label {
		display: block;
		background-color: $publications-label-background-colour;
		padding: .1rem .5rem;
		width: fit-content;
		border-radius: 5px;
		font-size: 1rem;
		margin-top: .5rem;
	}

	.legends {
		float: right;
		margin-right: 4rem;
		margin-bottom: 2rem;

		&-item {
			margin: .5rem 0;
		}

		&-icon {
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			font-weight: 900;
			display: inline-block;
			border-radius: 50%;
			font-size: 1rem;
			margin-right: .7rem;
		}
	}

	.results-and-counter {
		float: left;
	}

	.associated-disease-list {
		a {
			margin-right: 10px;
		}

		.associated-disease {
			margin-bottom: 1rem;
		}
	}

	.details-page-link {
		float: right;
		margin: 1rem;
	}

	.expanded-section-title {
		float: left;
		font-size: 1.5rem;
		margin: 1rem;
	}

	.expanded-section-subtitle {
		float: left;
		margin: 1.2rem;
	}

	.column-list {
		column-count: 6;
		width: 100%;
		float: left;
		padding-left: 1rem;
	}
}

.structure-position-help-text {
	white-space: normal;
	font-weight: 700;
}

.sticky {
	position: sticky;
	top: 0; /* Don't forget this, required for the stickiness */
}