
// Text-area search field
// ----------------------
.main-textarea-search-field {
  min-height: 15vh;
  border-radius: 5px;
  padding: .7rem 1rem;
  line-height: 1.7rem;
  font-family: Lato, sans-serif;
  font-size: 12px;
  resize: none;
  white-space: pre-wrap;
}

.wrapper{
  display:grid;
  grid-template-columns: 50% 50%;
  /*
  grid-column-gap:1em;
  grid-row-gap:1em;
  */
  grid-auto-rows: minmax(100px, auto);
  grid-gap:1em;
}

// Search button-group
// -------------------
.search-button-group {
  margin: 2rem 0;
  display: flex;

  button {
    width: 49%;

    &:first-child {
      margin-right: 2%;
    }
  }
}

.button-primary {
  color: #fefefe;
  background-color: #1779ba; 
  border-radius:6px;}

.button-primary:hover {
    background-color: #d2dce3; 
    }
  
    .button-primary:focus {
      background-color: #1779ba; 
      }
.button-disabled {
  pointer-events: none; 
  border-radius:6px;
  background-color: #cccccc;
}

.button-disabled:hover {
  color: #fefefe;
  background-color: #879299; 
  }

  .button-disabled:focus {
    background-color: #879299; 
    }

// Search Area
// -----------
.text-area-search {
  width: 60%;
  float: left;

  .input-examples {
    border: 1px solid $input-example-border-colour;
    margin: 1rem 0 2rem;
    padding: .5rem 1rem;
    border-radius: 5px;
    background-color: $input-example-background-colour;

    span {
      width: 12rem;
      display: inline-block;
    }

    .variant-example {
      width: auto;
      color: $variant-example-colour;
    }
  }

  .assemly-ref-note {
    font-weight: 700;
    margin-right: 2rem;
  }
}

.variant-example {
  width: auto;
  color: #4949c7; }

  .input-examples span {
    width: 12rem;
    display: inline-block;
  }

  .file-selected {
    color: #4949c7;
    padding-top:0.3rem;
  }
  .download-list {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    width : 80%
  }