// Text-area search field
// ----------------------
.main-textarea-search-field {
	min-height: 32vh;
	width: 55%;
	border: 1px solid #000000;
	border-radius: 2px;
	border-radius: 5px;
	line-height: 1.2rem;
	font-family: Lato, sans-serif;
	font-size: 13px;
	resize: none;
	white-space: pre-wrap;
	margin: 0;
	margin-bottom: 0.3rem;
	background: #FFFFFF;
}

.example-link {
	text-decoration: none;
	cursor: pointer;
	border: 0.5px solid #000000;
	border-radius: 5px;
	padding: 0 2px 0 2px;
}

.example-link:hover {
	color: #FFFFFF;
	background-color: #014373;
	opacity:.9;
	outline-width:0;
}

.ref-link {
	color: #0000ff;
	border-bottom-style: none;
	text-decoration: none;
	border-bottom-width: 1px;
	cursor: pointer
}

.ref-link:hover {
	color: rgb(0,124,130);
	border-bottom-style: solid;
	opacity:.9;
	outline-width:0;
}

.table-input {
	width: 15%;
	margin-bottom: 0rem;
}

.padding-bottom {
	padding-bottom: 0;
}

.modal {
	background-color: #cfe8ef;
}
.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: "search upload";
	/*
  grid-column-gap:1em;
  grid-row-gap:1em;
  */
	grid-auto-rows: minmax(200px, auto);
	grid-gap: 1em;
}

.search {
	grid-area: search;
}

.upload {
	grid-area: upload;
}

@media only screen and (max-width: 700) {
	.wrapper {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: "example" "about" "search" "download";
	}
}

// Search button-group
// -------------------
.search-button-group {
	margin: 1rem 0;
	display: flex;
	justify-content: space-around;
	align-items: center; 
  
	.button-new {
		margin: 0 1rem;
		// position: absolute;
		// padding: 10px;
		width: 30%;
		border-style: solid;
		background-color: #014373;
		color: #ffffff;
		// color: #00658c;
		font-weight: bold;
		// bottom: 0.5rem;
		// margin-left: 1rem

		img {
			width: 15px;
			height: 15px;
			fill: #ffffff;
		}

		&:focus {
			background-color: #014373;;
		}
	}
}

.button-primary.clear-file:hover {
	background-color: #FF9901;
}

.button-primary.disable-submit {
	background-color: #656565 ;
	cursor: not-allowed;
}

.info {
	font-size: 14px;
}
.button-page {
	color: #fefefe;
	background-color: #5caecd;
	border-radius: 4px;
}
.button-primary {
	color: #fefefe;
	background-color: #5caecd;
	border-radius: 4px;
}

.button-primary:hover {
	background-color: #d2dce3;
}

.button-primary:focus {
	background-color: #5caecd;
}

.button-disabled:hover {
	color: #fefefe;
	background-color: #879299;
}

.button-disabled:focus {
	background-color: #879299;
}

// Search Area
// -----------
.text-area-search {
	width: 60%;
	float: left;

	.input-examples {
		border: 1px solid $input-example-border-colour;
		margin: 1rem 0 2rem;
		padding: .5rem 1rem;
		border-radius: 5px;
		background-color: $input-example-background-colour;

		span {
			width: 12rem;
			display: inline-block;
		}

		.variant-example {
			width: auto;
			color: $variant-example-colour;
			font-family: "Lato", sans-serif;
		}
	}

	.assemly-ref-note {
		font-weight: 700;
		margin-right: 2rem;
	}
}

.variant-example {
	width: auto;
	color: #4949c7;
	font-family: "Lato", sans-serif;
}

.input-examples span {
	width: 20rem;
	display: inline-block;
}

.file-selected {
	color: #4949c7;
	padding-top: 0.3rem;
}

.file-name {
	max-width: 150px;
	display: flex;
	.name {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	  }
}



.download-list {
	display: block;
	list-style-type: none;
	margin-block-start: 1em;
	margin-block-end: 5em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
	width: 80%;
}
