
// Text-area search field
// ----------------------
.main-textarea-search-field {
  min-height: 30vh;
  border-radius: 5px;
  padding: .7rem 1rem;
  line-height: 1.7rem;
  font-family: "Courier New", monospace;
  font-size: 1rem;
  resize: none;
}



// Search button-group
// -------------------
.search-button-group {
  margin: 2rem 0;
  display: flex;

  button {
    width: 49%;

    &:first-child {
      margin-right: 2%;
    }
  }
}



// Search Area
// -----------
.text-area-search {
  width: 60%;
  float: left;

  .input-examples {
    border: 1px solid $input-example-border-colour;
    margin: 1rem 0 2rem;
    padding: .5rem 1rem;
    border-radius: 5px;
    background-color: $input-example-background-colour;

    label {
      width: 50%;
      display: inline-block;
      cursor: pointer;
    }

    span {
      width: 120px;
      display: inline-block;
    }

    .variant-example {
      width: 200px;
      color: $variant-example-colour;
    }
  }

  .assemly-ref-note {
    font-weight: 700;
    margin-right: 2rem;
  }
}
