.help {
    padding: 0 20px 40px 10px;

    code {
        background-color: ivory;
        padding: 2px 4px;
        border-radius: 4px;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    h4, h5, h6 {
        color: gray;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 17px;
    }
    h6 {
        font-size: 16px;
    }
}

/* unvisited link */
.help a:link {
    color: blue;
}

/* visited link */
.help a:visited {
    color: green;
}

/* mouse over link */
.help a:hover {
    color: #FF9901;
}

/* selected link */
.help a:active {
    color: blue;
    font-weight: bold;
}

.help ol {
    list-style-type: upper-alpha;

}

.active {
    background-color: #ccc;
}

/* grid styles for table of content */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Flexible grid layout */
    gap: 16px;
    padding: 16px;
}

.grid-item {
    display: block;
    padding: 8px;
    text-align: center;
    background-color: #f0f0f0;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.grid-item-selected {
    font-weight: bold;
    background-color: lightblue;
}

.grid-item:hover {
    background-color: #ddd;
}