.protein-review-status {
  margin-right: 0.3rem;
}

.protein-review-status--isoform-reviewed {
  color: #c39b00;
}

.protein-review-status--reviewed {
  color: #c39b00;
}

.protein-review-status--ensembl-select {
  color: #336;
}

.protein-review-status--unreviewd {
  color: #93cffa;
}
