
// Font settingns
// --------------
html,
body {
  font-family: $secondary-font-family;
}



// Text Headings
// -------------
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font-family;
}


// Box-sizing
// ----------
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



// Disable 'glow' effect on focus
// ------------------------------
textarea,
input,
button {
  outline: none;
}

*:focus {
  outline-color: transparent;
  outline-style: none;
}



// Anchor Tag
// ----------
a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}
