


// Font Settings
// -------------
$base-font-size:            1rem;
$base-font-weight:          400;
$heavy-font-weight:         700;
$primary-font-family:       "Fira Sans", sans-serif;
$secondary-font-family:     "";



// Colours
// -------
$primary-colour:            #ffb300;
$secondary-colour:          #eae8e8;
$neutral-colour:            #eae8e8;
$white-colour:              #fff;
$black-colour:              #212121;



// Spacing: Margins, Paddings, Gutters, etc.
// -----------------------------------------
$default-margin:            $base-font-size;
$default-padding:           $base-font-size;
$default-radius:            $base-font-size;



// Buttons
// -------
$default-button-height:     2.5 * $base-font-size;
$default-button-padding:    0 $default-padding;
$default-button-radius:     $default-button-height / 2;
